{% extends "base.html" %} {% block content %}

<div class="col-12 col-md-9 p-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {# {% for performance in performances %} #}
    <div class="col">
      <div class="card h-100">
        <img
          src="https://img.ilgcdn.com/sites/default/files/styles/xl/public/foto/2024/02/29/1709191791-bugo.jpg?_=1709191791"
          class="card-img-top"
          alt="Prova"
        />
        <div class="card-body">
          <h5 class="card-title">Prova</h5>
          <p class="card-text">Prova</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Prova</small>
        </div>
      </div>
    </div>
    {# {% endfor %} #}
  </div>
</div>

{% endblock %}
