{% extends "base.html" %} {% block content %}

<!-- Alerts -->
{% if current_user.mode == "Organizzatore" %}
<div class="alert alert-primary" role="alert">
  Ti ricordiamo che in quanto <strong>organizzatore</strong> non hai il diritto
  di acquistare un biglietto per il festival. Puoi consultare i prezzi e le
  specifiche dei biglietti.
</div>
{% endif %}

<!-- Header -->
<header
  id="header_numeri"
  class="d-flex justify-content-center align-items-center"
>
  <h3>I biglietti disponibili</h3>
</header>

<!-- Tipologie di biglietti -->
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for ticket in tickets %}
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ ticket[1] | e}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€{{ticket[4] | e}}</h1>
        <ul class="list mt-3 mb-4">
          {{ ticket["Description"] | safe }}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Buttons per accedere all'acquisto del biglietto -->
<div class="d-grid gap-2 col-12 col-md-6 mx-auto">
  <!-- Acquista il biglietto -->
  {% if current_user.is_authenticated %} {% if current_user.mode == "Spettatore"
  %} {% if not current_user.hasTicket %}
  <button
    type="button"
    class="btn btn-lg btn-outline-primary w-100"
    data-bs-toggle="modal"
    data-bs-target="#bookingModal"
  >
    Acquista ora il tuo biglietto
  </button>
  {% else %}
  <!-- Biglietto già acquistato-->
  <button type="button" class="btn disabled btn-lg btn-danger w-100">
    Hai già acquistato un biglietto
  </button>
  {% endif %} {% else %}
  <!-- Biglietto non acquistabile in quanto "Organizzatore"-->
  <button type="button" class="btn disabled btn-lg btn-warning w-100">
    Non puoi acquistare il tuo biglietto
  </button>
  {% endif %} {% else %}
  <!--  Biglietto non acquistabile, richiesto il login-->
  <button type="button" class="btn disabled btn-lg btn-outline-primary w-100">
    Effettua il login
  </button>
  {% endif %}
</div>

<!-- Modal per l'acquisto del biglietto -->
{% if current_user.is_authenticated and not current_user.hasTicket %}
<div
  class="modal fade"
  id="bookingModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Acquista il tuo biglietto
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/buy" method="POST" enctype="multipart/form-data">
        <!--Info acquisti-->
        <div class="alert alert-light m-3" role="alert">
          <h5 class="mb-2">
            🛒 Regole di selezione delle giornate in base alla tipologia di
            biglietto:
          </h5>
          <p>
            Ogni <strong>tipologia di biglietto</strong> corrisponde a un
            <strong>numero di giornate consecutive</strong> di accesso al
            festival.
          </p>
          <ul>
            <li>
              Le giornate selezionate devono essere
              <strong>consecutive</strong> e <strong>compatibili</strong> con la
              durata del biglietto scelto.
            </li>
            <li>
              Se una o più giornate necessarie per coprire la durata del
              biglietto risultano <strong>non disponibili</strong>, l'acquisto
              <strong>non potrà essere completato</strong>.
            </li>
            <li>
              In presenza di giornate non disponibili, sarà possibile acquistare
              solo
              <strong
                >biglietti validi per le giornate effettivamente
                selezionabili</strong
              >
              in modo consecutivo.
            </li>
          </ul>
          <p class="mb-0">
            Assicurati che la <strong>selezione delle giornate</strong> sia
            coerente con la
            <strong>durata e le regole del biglietto</strong> scelto.
          </p>
        </div>

        <!-- Input -->
        <div class="modal-body">
          <div class="row g-3">
            <!-- Nome -->
            <div class="col-6">
              <label for="name" class="form-label">Nome *</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                value="{{ current_user.name }}"
                disabled
              />
            </div>

            <!-- Cognome -->
            <div class="col-6">
              <label for="surname" class="form-label">Cognome *</label>
              <input
                class="form-control"
                type="text"
                id="surname"
                name="surname"
                value="{{ current_user.surname }}"
                disabled
              />
            </div>

            <!-- Email -->
            <div class="col-12">
              <label for="email" class="form-label">Indirizzo mail *</label>
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                value="{{ current_user.email }}"
                disabled
              />
            </div>

            <!-- Tipologia di biglietto -->
            <div class="col-6">
              <label for="ticketType" class="form-label"
                >Tipologia di biglietto *</label
              >
              <select
                id="ticketType"
                name="ticketType"
                class="form-select"
                required
              >
                <option value="" selected disabled>
                  Seleziona la tipologia di biglietto
                </option>
                {% for ticket in tickets %}
                <option value="{{ ticket[0] }}">{{ ticket[1] | e }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Inizio validità biglietto -->
            <div class="col-6 mb-3">
              <label class="form-label">Inizio validità del biglietto *</label>
              <div class="row">
                {% for day in days %}
                <div class="col-md-7">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="days-{{
                    day['ID'] }}" name="day" value="{{ day['ID'] }}" {% if
                    day['NoPeople'] > 200 %}disabled{% endif %} required />
                    <label class="form-check-label" for="days-{{ day['ID'] }}">
                      {{ day["Day"] + " " + day["YYYY_MM_DD"]}} {% if
                      day['NoPeople'] > 200 %}
                      <span class="text-danger">(non disponibile)</span>
                      {% endif %}
                    </label>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!--Disclamair-->
        <div class="alert alert-primary m-3" role="alert">
          <strong>⚠️ Attenzione:</strong><br />
          Acquistando il biglietto dichiari di aver preso visione delle seguenti
          condizioni:
          <ul class="mb-0 mt-2">
            <li>
              <strong>I biglietti non sono rimborsabili</strong> in alcun caso,
              salvo annullamento dell’evento da parte dell’organizzazione.
            </li>
            <li>
              <strong
                >È possibile acquistare un solo biglietto per persona</strong
              >. Tentativi di acquisto multiplo non saranno considerati validi e
              potrebbero essere annullati.
            </li>
          </ul>
          <p class="mt-2 mb-0">
            Procedendo con l'acquisto, accetti integralmente queste condizioni.
          </p>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Acquista</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
